{% comment %} File: _includes/sidebar-left.html {% endcomment %}
<aside class="sidebar sidebar-left">

  <div class="site-info">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | default: "My Blog" }}</a>
     <p class="site-tagline">{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li><a href="{{ '/' | relative_url }}">Trang chủ</a></li>
      <li><a href="{{ '/about/' | relative_url }}">Giới thiệu</a></li>
      <li><a href="{{ '/categories/' | relative_url }}">Chủ đề</a>
          </li>
      </ul>
  </nav>

  </aside>
