<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
  {% comment %} --- Container chính sử dụng CSS Grid --- {% endcomment %}
  <div class="site-container">

    {% include sidebar-left.html %}
    {% comment %} --- Nội dung từ các file .md sẽ vào đây --- {% endcomment %}
    <main class="main-content-area" aria-label="Content">
      {{ content }}
    </main>

    {% include sidebar-right.html %}

  </div>

  {% comment %} --- Footer có thể đặt ngoài container chính nếu muốn --- {% endcomment %}
  {% include footer.html %}
  <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>