---
# File: _layouts/post.html
# Layout dùng cho các trang bài viết chi tiết trong _posts
layout: default
# Kế thừa layout 3 cột chung (default.html)
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%d/%m/%Y" }}
      </time>
      {% if page.categories.size > 0 %}
      <span class="post-categories" itemprop="keywords">
         | Trong:
        {% for category in page.categories %}
          <a href="/categories/{{ category | slugify }}/">{{ category | capitalize }}</a>
          {% unless forloop.last %},{% endunless %} {% endfor %}
      </span>
      {% endif %}
    </p>
  </header>

  <hr style="border-color: #ccc; margin: 2em 0;"> <div class="post-content" itemprop="articleBody">
    {{ content }} </div>

  {% comment %}
    Phần tùy chọn:
    - Chia sẻ mạng xã hội
    - Bài viết liên quan
    - Hệ thống bình luận (Disqus, etc.)
    Sẽ thêm sau nếu bạn muốn.
  {% endcomment %}

</article>